*{
	box-sizing: border-box;
	
	
	
	
}

body{
	background-color: blue;
}

#grid
{
	width: 100%;
	float: left;
}

.d1{

	float: left;
	width: 25%;
	background-color: red;
	border-color: red;
	
}
.d2{

	float: left;
	width: 25%;
	text-align: justify;
}
.d3{

	float: left;
	width: 25%;
}
.d4{

	float: left;
	width: 25%;
}