body{
	background-color: blue;
}

#grid
{
	width: 100%;
}

.d1{

	float: left;
	width: 50%;
	background-color: red;
	border-color: red;
}
.d2{

	float: left;
	width: 75%;
}
.d3{

	float: left;
	width: 100%;
}
.d4{

	float: left;
	width: 150%;
}